body {
	font-family: sans-serif;
	background-color: rebeccapurple;
    font-size: 18px;
	margin: 0;
	padding: 0;
}

#wrap {
	width: 70%;
	margin: 0 auto;
}

header img {
	width:95%;
}

header {

	padding: 45px;
	text-align: center;	
`   background-color: gold; 
	background-image: linear-gradient(gold, rebeccapurple); 
}

nav {
	background-color: gold;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-family: Georgia;
}

nav li {
	display: inline;
	/*padding: 20px;*/
}

nav ul {
	margin:0;
	padding:0;
}

nav a {
	color: rebeccapurple;
	text-decoration: none;
	padding: 10px 30px;
}

nav a:hover {
	color: gold;
	background-color: orange;
}

section {
	padding: 10px;
	background-color: rgb(100%,100%,100%);
	overflow: auto;

}

.bgpic {
	width: 50%;
	float: right;
}

.button {
	background-color: rebeccapurple;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
	margin: 15px 0;
	display:inline-block;
}

a.button:hover {
	background-color:gold;
}

footer {
	background-color: gold;
	color: rebeccapurple;
	padding: 10px;
	text-align: center;
}








